html {
	height: 100%;
	margin: 0px;
}

body {
	min-height: 100%;
	margin: 0px;
}

main {
	max-width: 1024px;
	height: 100%;
}

td {
	width: 64px;
	height: 64px;
	padding: 0 !important;
}
.op-undocumented {
	border-bottom-color: red !important;
}

.op-counter {
	color: var(--color-text-primary);
	font-size: x-small;
}
.op-entry {
	color: var(--color-text-primary);
	font-size: x-small;
}
.op-button:hover {
	cursor: pointer;
}
